.navbar {
    background-color: #f4a261;
    color: white;
    padding: 10px 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar h1 {
    margin: 0px;
    
  }
  .navbar button{
    margin-left:230px;
  }
  
  .cart-icon {
    background-color: #2a0849;
    padding: 5px 10px;
    border-radius: 5px;
  }
  